aiohttp==3.7.0
aiodns==3.0.0
beautifulsoup4==4.9.3
cchardet==2.1.7
dataclasses==0.8
elasticsearch==7.13.2
pysocks==1.7.1
pandas>=0.23.0
aiohttp_socks<=0.4.1
schedule==1.1.0
geopy==2.1.0
fake-useragent==0.1.11
googletransx==2.4.2
